name: Constru칞칚o Documenta칞칚o

run-name: ${{ github.actor }} est치 compilando uma documenta칞칚o 游

on:
  push:
    branches: [ main ]

env:
  DOCKER_NAME: 'ghcr.io/abnt-latex/texlive-r'
  DOCKER_VERSION: 'latest'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Confira o c칩digo do reposit칩rio
        uses: actions/checkout@v4
      - name: Compilando os arquivos na Docker
        run: docker run --rm -v ${{ github.workspace }}:/data/project --workdir /data/project --entrypoint ./build.sh $DOCKER_NAME:$DOCKER_VERSION
      - name: Listar arquivos dentro do reposit칩rio
        run: |
          ls -a ${{ github.workspace }}
      - name: Verficar arquivo pdf
        run: |
          file output/experiments_with_pi.pdf | grep -q ' PDF '
      - name: Carregar arquivos est치ticos como artefato
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: output/
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy no Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
